<!doctype html>
<html>
<head>
<link href="css/base.css" rel="stylesheet">
<link href="css/new.css" rel="stylesheet">
</head>
<body>

<article class="blogs">
            <%var i=id.id%>
            <p><%=result[i]["content"]%></p>
</article>
<footer>
  <p class="ft-copyright">个人博客 Sunshine</p>
<div id="tbox"> <a id="togbook" href=""></a> <a id="gotop" href="javascript:void(0)"></a> </div>
</footer>
</body>
 
</html>